{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="conatiner">

        <div class="model_image">
            <img src="https://i.pinimg.com/736x/84/cc/0f/84cc0f244cbec16a0c7a4f2a231015c7.jpg">
        </div>

        <div class="login">
            <h1>Hello, <br> Welcome Back</h1>

            <p>Login to manage your account</p>
                    {% if messages %}
                    <div class="messages-container">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                     {% endif %}


            <form method="post" action="{% url 'LoginUser' %}">
                {% csrf_token %}
                <input type="email" id="email" name="email" placeholder="Email:">

                <input type="password" id="password" name="password" placeholder="Password">

                <button type="submit">Login:</button>
            </form>

        </div>


    </div>
</body>

</html>